<div align="center">

    <div> 
        <% @flats.each do |flat| %>
            <%= link_to  flat.name, flat_path(flat) %>
            <%= link_to "Delete",  flat_path(flat), method: :delete, data: { confirm: "Are you sure?" }, class:"btn btn-danger" %><br>
        <% end %>
    </div>

    <div id="map" style="width: 70%; height: 500px;" 
            data-markers="<%= @markers.to_json %>"
            data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
    </div>

    

    <div>
        <%= link_to  "Create", new_flat_path %>
    </div>

</div>


    

